<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" (click)="createItem()">Create item</button>
      </div>
    </div>
  </div>
  <div class="panel-body text-center">
    <ag-grid-angular #agGrid
                     style="width: 500px; height: 500px;"
                     class="ag-theme-fresh"
                     [gridOptions]="gridOptions"
                     (rowDoubleClicked)="onRowDoubleClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>
